* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    transition: .2s all;
}

body {
    padding-top: 77px;
}

main {
    padding: 20px 50px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 9;
}

header h1 {
    font-weight: 400;
}

header span {
    flex: 1;
}

header i {
    margin: 0 10px;
    cursor: pointer;
}

header i:nth-child(1) {
    margin: 0 20px;
}

thead {
    th {
        white-space: nowrap;
    }
}