@import "tailwindcss";

/* fallback */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/icon/font?kit=syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcDTCVpeRL2w5rwZu2rIelXxGJKJBiCa9QmzcYUytfLFBF8gbdYD8KdNdGTZIxow2KKFjD9Z7SebSArmfdZg0KZupG07OCjHCF9JFbuAuP6AXCEJtXXzXAVY_hPLyQXmotA3kaNafa-cIid-1_cxs&skey=70ddea8fe54d532e&v=v222') format('woff');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

